<div class="wrapper">
  <div app-nav></div>
  <div class="component-container">
    <router-outlet></router-outlet>
    <ngx-spinner></ngx-spinner>
    
  </div>

  <!-- <app-filter></app-filter> -->
  <!-- <app-product></app-product>
     -->

  <!-- <app-product></app-product>

    
    <app-notification></app-notification> 
    <app-new-product></app-new-product> -->
  <!-- <app-first></app-first> #This is for @Input() and @Output() decorator lesson-->
  <!-- <app-refernce></app-refernce> #This is for @ViewChild lesson-->
  <!-- <app-main-comp></app-main-comp> #This is for @View Encapsulation -->
  <!-- <app-users></app-users>  #This is for @service injection -->
  <!-- <app-sales></app-sales>
    <app-sales-detail></app-sales-detail> -->

  <!-- <app-final-sale></app-final-sale> -->
</div>
