<div class="filter-container">
    <span>Filter: </span>

    <label class="filter-option">
        <input class="input" type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButton" (change)="onradioselectchange()">
        <span>{{'All Product('+all+')'}}</span>
    </label>

    <label class="filter-option">
        <input class="input" type="radio" name="filter" value="Available" [(ngModel)]="selectedRadioButton" (change)="onradioselectchange()">
        <span>{{'Available('+available+')'}}</span>
    </label>
</div>