.app-notification {
    background-color: #589e56;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 30px;
  }
  
  .app-notification span {
    margin-right: 50px;
  }
  
  .app-notification .close {
    margin-left: 10px;
  }
  
  .app-notification .btn-close {
    background-color: transparent;
    color: #000; /* Adjust button text color to make it darker */
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .app-notification .btn-close:hover {
    color: #555; /* Darken the color on hover */
  }

  .fadeout{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  /* CSS */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.product-container {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    filter: drop-shadow(1px 2px 8px rgba(42, 42, 42, 0.447));
    background-color: #ffffff;
}

.product-image {
    height: 150px; /* Set a fixed height */
    text-align: center; /* Center the image */
}

.product-image img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}

.product-info {
    text-align: center;
}

.price {
    font-weight: bold;
    color: #333;
}

/* .color {
    color: #666;
    margin-bottom: 10px;
} */

.options {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-details {
    background-color: #007bff;
    color: #fff;
}

.btn-buy {
    background-color: #28a745;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}
.product-list{
    background-color:rgb(245, 246, 255);
}

 